<%- content_for :content do %>
  <%= turbo_frame_tag(surveyors_guild, data: { turbo_action: :advance }) do %>
    <%= render "flash_messages" %>
    <div class="grid gap-y-3 mx-2">
      <%= yield  %>
    </div>
  <%- end %>
<%- end %>

<%= render template: "layouts/application" %>
