<%= turbo_frame_tag(star_system) do %>
  <h2><%= star_system.id %></h2>
  <%= render "slipvector/surveyors_guild/star_system/surveys/form", survey: survey, turbo_frame: dom_id(star_system) %>
<%- end %>
